* {
  text-decoration: none;
  list-style: none;
}

.navbar_container {
  background: white;
}

.navbar_inner_wrapper {
  max-width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_link {
  display: flex;
  gap: 10px;
}

.nav_link li {
  text-decoration: none;
}
